@import "font-awesome.css";

.hidden {
  display:none;
}

div.checkbox-wrapper {
  display:inline-block;
}

div.checkbox {
  width: 20px;
  height: 20px;
  margin:0 5px;
  display:inline-block;
}

div.checkbox:not(.checked):before {
    content: "";
    width:20px;
    height:20px;
    display:inline-flex;
  }

div.checkbox.checked:before {
    font-family: FontAwesome;
    content: "\f00c";
    position: relative;
    font-size:1.4em;
  }

div.checkbox span.checkbox-span {
    color: initial;
}
